<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="tpl_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="menu">
        <div align="center">
            <div class="button-group round">
                <h:commandButton action="listarUsuarios" value="Usuários" class="button small success" immediate="true"/>
                <h:commandButton action="listarEventos" value="Eventos" class="button small success" immediate="true"/>
                <h:commandButton action="listarCategorias" value="Categorias" class="button small success" immediate="true"/>
            </div>
        </div> 
    </ui:define>

</ui:composition>

