<!DOCTYPE html>
<html 
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">
    
    <h:head>
        <meta charset="utf-8" />
        <title>#{msg.titulo}</title>
        <meta name="description" content="" />
        <meta name="author" content="Equipe ShareKnowlegde" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <link rel="stylesheet" href="../css/foundation.css" />
        <link rel="stylesheet" href="../css/projeto.css" />

        <link rel="icon" type="image/png" href="../images/favicon.png" />
        <script src="../js/vendor/modernizr.js"></script>
        
    </h:head>
    <h:body>
        
        <div class="container">
            <nav class="top-bar" data-topbar="true" role="navigation">
                <ul class="title-area">
                  <li class="name">
                    <h1><a href="index.xhtml"><h:outputText value="#{msg.nome_aplicacao}" /></a></h1>
                  </li>
                   <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                  
                   <li class="toggle-topbar menu-icon"><a href="login.xhtml"><span>Login</span></a></li>
                </ul>

                <section class="top-bar-section">
                  <!-- Right Nav Section -->
                  <ul class="right">
                      
                    <h:form>    
                    <li class="active" ><p:commandLink value="LOGIN" id="withIcon" onclick="PF('dlg2').show();"/></li>    
                    
                    
                        <p:growl id="msgs" showDetail="true" />
                    <p:dialog header="Login" widgetVar="dlg2" modal="true" height="200" width="300">
                            <div align="center">
                                <br />
                                <h:inputText id="email" 
                                             value="#{loginMB.email}"
                                             immediate ="false"
                                             requiredMessage="Campo email é obrigatório"
                                             pt:placeholder="Ex. joao@gmail.com">
                                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                </h:inputText>
                                <h:inputSecret id="senha" value="#{loginMB.senha}"
                                             pt:placeholder="Senha"
                                             required="true" 
                                             requiredMessage="Campo senha é obrigatório">
                                    <f:validateLength minimum="3" maximum="80" /><br />
                                </h:inputSecret><br/>
                                <h:commandButton value="Entrar" action="#{loginMB.autentica()}" class="button round small success"/>                         
                                                       
                            </div>
                        </p:dialog>   
                    </h:form>
                  </ul>  

                </section>
            </nav>
            <br />
            
            <h:form id="frm" prependId="false"> 
                <div class="row">
                    <ui:insert name="interno" />
                </div>
            </h:form>
        
            <!--
            <div class="footer">
                <nav class="top-bar" data-topbar="true" role="navigation">
                    <ul class="title-area">
                      <li class="name">
                        <h1><a href="index.xhtml"><h:outputText value="© #{msg.nome_aplicacao}" /></a></h1>
                      </li>
                    </ul>
                </nav>
            </div>
            -->
        </div>
    </h:body>   
</html>

