body {
    background: url("../images/fundo3.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
    
}

.footer {
	position:fixed;
	bottom:0;
	width:100%;
}

/* CABEÇALHO E RODAPÉ ********************************************** */
#nome_aplicacao {
    padding: 0.32em;
    font-size: 32pt;
    font-family: 'Bangers', cursive;
}
#usuario_logado {
    float: right;
    padding: 1.4em;
}
.cabecalho {
    background-color: #D1D1D1;
    height: 100px;
}
.rodape {
    background-color: #D1D1D1;
    height: 40px;
    font-size: 9pt;
    padding-left: 1em;
}

/* MENU *************************************************************** */
.menu {
    background-color: white;
    padding-left: 0.2em;
}
.menu_modulo {
    font-size: 12pt;
    font-weight: bold;
}
.menu_sub {
    padding-left: 0.8em;
}

/* DECK DE BOTÕES E PÁGINA INTERNA *********************************** */
.deck {
    border-bottom: 1px #e3e3e3 solid;
}
#titulo_deck {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.8em;
}
.tabela_lista {
    width: 100%;
}

/* CHAT STREAM */

.chat{
    width: 100%;
    height: 300px;
    alignment-adjust: initial;
}

.corpo_banner{
    
    height: 90%;
    padding-top: 10%;
    //background: rgb(0, 0, 0);
    //background: rgba(255, 255, 255, 0.6);
}

.corpo_single_page{
    height: 90%;
}

.icon{
    height: 40px;
    width: 50px;
}

.banner_texto{
    
    
}

.banner_div{
    height: 60%;
}

.banner_img{
    height: 100%;
    width: 100%;
}

.corpo_contato{
    

}

