<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="interno">
        <ui:insert name="menu" /><br />
        <div align="center">
            <h:inputHidden value="#{categoriaMB.categoria.idCategoria}"/>
            <h:panelGrid columns="2">
                Título: <h:inputText id="titulo" value="#{categoriaMB.categoria.nome}" required="true" requiredMessage="Campo Título é obrigatório"/>
                Tags: <h:inputTextarea value="#{categoriaMB.categoria.tag}"/>
            </h:panelGrid> 
            <ul class="button-group radius">
                <li><h:commandButton value="Salvar" action="#{categoriaMB.salvar()}" class="button small" /></li>
                <li><h:commandButton value="Limpar" action="#{categoriaMB.limpar()}" class="button small"/></li>
            </ul>
        </div>
        <script type="text/javascript">
        $(window).ready(function(){
                $('#titulo').focus();
            });
        </script>
    </ui:define>
    
</ui:composition>
