<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_menu_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="interno">
       <ui:insert name="menu" />
        <br />

         <div class="large-12 columns">
             <div class="row collapse postfix-radius">
               <div class="large-9 columns">
                   <h:inputText pt:placeholder="faça sua busca..." immediate="false"/>
               </div>
               <div class="large-3 columns">
                   <h:commandButton value="pesquisar" class="button default postfix"/>
               </div>
             </div>
         </div>

         <br />    

        <div class="large-12 columns">
             <h:commandButton value="Novo" action="criarEvento" class="button tiny radius" />
        </div>
       
        
            <div class="large-9 columns"> 
                <p:dataGrid var="event" value="#{listarStreaming.listarVideos()}" columns="3" id="event">

                    <iframe width="230" height="150" src="https://www.youtube.com/embed/#{event.id}" frameborder="0" allowfullscreen="true" ></iframe>

                </p:dataGrid>
            </div>
        <!-- INÍCIO TABELA MAIS VISTOS -->         
            <aside class="large-3 columns">
                <p:dataGrid var="event1" value="#{listarStreaming.listarVideos()}" columns="1" 
                id="event1">

                     <iframe width="300" height="200" src="https://www.youtube.com/embed/#{event1.id}" frameborder="0" allowfullscreen="true" ></iframe>

                </p:dataGrid>
            </aside>
        
        <!-- FINAL TABELA MAIS VISTOS -->
    </ui:define>
    
</ui:composition>