<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="templates/tpl_principal.xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="interno">
        <a id="leo" href="#" data-reveal-id="myModal" />
        <div align="center" id="myModal" class="reveal-modal small" data-reveal="true" aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <br />
                    <h:inputText id="email" 
                                 value="#{formularioMB.email}"
                                 requiredMessage="Campo email é obrigatório"
                                 pt:placeholder="Ex. joao@gmail.com">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                    </h:inputText>
                    <h:inputSecret id="senha" value="#{formularioMB.senha}"
                                 pt:placeholder="Senha"
                                 required="true" 
                                 requiredMessage="Campo senha é obrigatório">
                        <f:validateLength minimum="3" maximum="80" />
                    </h:inputSecret>
                    <h:commandButton value="Ok" action="#{formularioMB.autenticar()}" class="button round small success"/>                    
                    <a href="index.xhtml" class="close-reveal-modal" aria-label="Close">&#215;</a>        
        </div>
        <script type="text/javascript">
            $(window).ready(function(){
                $("#leo").click();
                $("#email").focus();
                console.log('cheguei aqui')
            });
            </script>
    </ui:define>
    
</ui:composition>
